:root {
    --river: #004F59;
    --mica: #C7C9C7;
    --moss: #00BB31;
  }

#about p{
    color: var(--river);
}

#about h1 {
    color: var(--river);
    font-weight: bold;
}

/* About Banner */
#aboutBanner {
    padding-top: 1.5%;
}

/* Text Container */
.container {
    /* background: rgba(199,201,199, 0.18); */
    color: var(--river);
    margin-top: 2%;
    margin-bottom: 2%;
    border-color: var(--moss) !important;

}/* Img Banner */
@media only screen and (max-width: 700px) {
    img {
        display: none;
    }
  }