:root {
  --river: #004F59;
  --mica: #C7C9C7;
  --moss: #00BB31;
}
#eventsHeader {
  background-color: var(--river);
}
/* Events Card */
#eventsImg {
  padding-top: 50px;
}

#apexImg {
  height: 200px;
}

.card {
  background-color: var(--river);
  color: White;
}

.card .btn {
  background-color: var(--moss);
  color: black;
}

.row {
  padding-top: 50px;
}
