:root {
  --river: #004F59;
  --mica: #C7C9C7;
  --moss: #00BB31;
}
#eventsHeader {
  background-color: var(--river);
}
/* Events Card */
#eventsImg {
  padding-top: 50px;
}

#apexImg {
  height: 200px;
}

.card {
  background-color: var(--river);
  color: White;
}

.card .btn {
  background-color: var(--moss);
  color: black;
  font-size: 20px;
}

.card .btn:Hover {
  background-color: #009427;
  color: black;
  font-size: 20px;
}

.row {
  padding-top: 50px;
}

.container {
  background: rgba(199,201,199, 0.18);
  color: var(--river);
  margin-bottom: 2%;
  margin-top: 2%;
  border-color: var(--moss) !important;
}