/*
Colors: 
Moss - #00BB31
River - #004F59
Mica - #C7C9C7
*/

:root {
  --river: #004F59;
  --mica: #C7C9C7;
  --moss: #00BB31;
}

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-Light.woff2") format("woff2");
}

body {
  background-color: white;
  font-family: 'Mulish';
  color: White;
}

/* Navbar */
.navbar {
  background-color: var(--river);
  font-family: 'Mulish';
  padding-right: 100px;
  font-size: 18px;
  font-weight: bold
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--moss);
}

/* Animation */
.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

/* Footer */
footer {
  color: white;
  background-color: var(--river);
  background: linear-gradient(90deg, var(--river) 50%, var(--moss) 100%);
}