:root {
  --river: #004F59;
  --mica: #C7C9C7;
  --moss: #00BB31;
}
/* Landing Image/Text */
#landing {
  position: relative;
  text-align: center;
}

#landing a {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  background-color: var(--moss);
  color: black;
  font-size: 22px;
}

.btn:hover {
  background-color: var(--river);
  color: white;
}

#GamingClubLogo {
  position: absolute;
  left: 33.5%;
  top: 2%;
}

/* Info Cards */
.card {
  background-color: var(--river);
  color: White;
}
#ourTeam {
  padding-top: 5%;
  padding-left: 15%;
}

#Events {
  padding-top: 5%;
  padding-left: 40%;
}

#register {
  padding-top: 5%;
  padding-left: 15%;
}

/* Footer Styleing */

/* ADD MOBILE STYLING */
